:root {
    --background: #f8e9dd;
    --soft-red: #ec775f;
    --soft-red-hover: rgba(236, 119, 95, 0.7);
    --dark-brown: #382314;
    --medium-brown: #93867b;
    --cream: #f8e9dd;
    --grey: #868686;
    --cyan: #76b5bc;
    --cyan-hover: rgba(118, 181, 188, 0.7);
}